body{
  margin: 10px;
}
*{
  box-sizing: border-box;
}
article{
  min-height: 5rem;
  background: #ddd;
  border: 1px solid black;
  box-shadow: inset 0px 0px 10px rgba(0,0,0, .5);
}
$nbColumns: 12;
$margin: 20px;
.columns{
  overflow: hidden;
  > div{
    margin-right: - $margin;
    display: flex;
    flex-wrap: wrap;
    > *{
      flex-grow: 1;
      margin-bottom: $margin;
      margin-right: $margin
    }
  }
}

@for $i from 1 through 12{
  .col-laptop-#{$i}{
    flex-basis: calc(100% / #{$nbColumns} * #{$i} - #{$margin});
}
}

@media (min-width: 1024px) {
  @for $i from 1 through 12{
    .col-laptop-#{$i}{
      flex-basis: calc(100% / #{$nbColumns} * #{$i} - #{$margin});
  }
  }
}

@media (min-width: 480px){
  @for $i from 1 through 12{
    .col-phone-#{$i}{
      flex-basis: calc(100% / #{$nbColumns} * #{$i} - #{$margin});
    }
  }
}

@media (min-width: 768px){
  @for $i from 1 through 12{
    .col-pad-#{$i}{
      flex-basis: calc(100% / #{$nbColumns} * #{$i} - #{$margin});
    }
  }
}

@media (min-width: 1080px){
  @for $i from 1 through 12{
    .col-monitor-#{$i}{
      flex-basis: calc(100% / #{$nbColumns} * #{$i} - #{$margin});
    }
  }
}

$nb-margin:20;

@for $i from 0 through $nb-margin{
  .m-#{$i}{
    margin:#{$i}rem;}

  .m-t-#{$i}{
    margin:#{$i}rem;}

  .m-r-#{$i}{
    margin:#{$i}rem;}

  .m-b-#{$i}{
    margin:#{$i}rem;}

  .m-l-#{$i}{
    margin:#{$i}rem;}
  }



$nb-padding:20;

  @for $i from 0 through $nb-padding{
    .p-#{$i}{
      padding:#{$i}rem;}

    .p-t-#{$i}{
      padding:#{$i}rem;}

    .p-r-#{$i}{
      padding:#{$i}rem;}

    .p-b-#{$i}{
      padding:#{$i}rem;}

    .p-l-#{$i}{
      padding:#{$i}rem;}
    }

.reset-style-link{
  text-decoration: none;
}

$font-size:40;

  @for $i from 0 through $font-size{
    .f-s-#{$i}{
    font-size:$i/10 em;}
  }

$border-radius:20;

  @for $i from 0 through $border-radius{
    .b-r-#{$i}{
      border-radius: #{$i}px;}
  }
